p{
	font-size: 18px;
	font: "monoco", monospace;
}
img{
	height: 100%;
	float: left;
	margin: 0px;
	padding-right: 40px;
}
body{
	height: 205px;
	margin: 0px;
	border-width: 0px;
	overflow: hidden;
}
.title{
	font-size: 24px;
	color: black;
}
.text{
	font-size: 16px;
	text-align: center;
	font-family: Arial, sans-serif;
	margin-right: 50px;
	margin-left: 203px;
}
.next{
	float: right;
	font-size: 16px;
	color: black;
}
.back{
	float: left;
	font-size: 16px;
	color: black;
}
